/*
*************************************************

Happy Cog
Enhanced Screen Styles

Created by the friendly folks at Happy Cog
http://www.happycog.com/

*************************************************
*/

#work .work-toggle-content { display: none; }
.work-toggle-trigger a  { display: block; font-weight: 500; background: #FC3; text-align: center; width: 40%; margin: 10px auto 0; padding: 10px; color: #000; }
.work-toggle-trigger a:hover, .work-toggle-trigger a:focus { background: #EBE8DF; }



