@charset "UTF-8";

/* Text */
/*-------------------------------------------
    General Selectors
-------------------------------------------*/
html {
  background: #202020;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

* {
  margin: 0;
  padding: 0;
  line-height: 26px; }

.white-html {
  background: white; }

body {
  background-color: white;
  color: #202020;
  font-size: 18px;
  line-height: 26px;
  font-family: 'ratio-n4','ratio','Helvetica Neue',Arial, sans-serif;
  font-weight: 400;
  font-style: normal; }

.content {
  background: #fff; }

h1 {
  font-size: 47px;
  line-height: 52px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -.025em;
  margin-bottom: 0.5em; }

h2 {
  font-size: 47px;
  line-height: 52px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -.025em;
  margin-bottom: 0.2em; }

h3 {
  font-size: 29px;
  line-height: 39px;
  font-weight: 400;
  font-style: normal; }

h4 {
  font-size: 23px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal; }

h5 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal; }

h6 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal; }

.meta {
  font-size: 11px;
  color: #928781;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px; }

p, ul, dl, ol {
  font-size: 18px;
  margin-bottom: 26px; }

li {
  list-style-type: none; }

/* inline */
em {
  font-style: italic; }

strong {
  font-weight: bold; }

a {
  color: #4298a9;
  text-decoration: none;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  a:hover, a:focus {
    color: #30707b; }

img {
  display: block;
  margin-bottom: 1em; }

a img {
  border: none; }

/*-------------------------------------------
    General Styles
-------------------------------------------*/

.fix {
  position: fixed;
  top: 0;
  z-index: 1000; }

.cap {
  overflow: hidden;
  display: block; }

.ribbon .cap {
  display: inline-block;
  margin: 0;
  padding-top: 2px;
  height: 8px;
  background: transparent url(/a/screen/icon-arrow-sprite.png) no-repeat 0 -19px; }
  .ribbon .cap img {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    width: 11px;
    margin-right: 0 !important; }

/*-------------------------------------------
    Robbon
-------------------------------------------*/

.ribbon-wrap {
  display: block;
  position: relative;
  z-index: 1; }

.ribbon {
  display: inline-block;
  background: #ffcc33;
  color: #202020;
  font-size: 18px;
  font-family: 'ratio-n5','ratio','Helvetica Neue',Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  position: relative;
  text-align: center;
  padding: 11px 5px;
  margin: 0 0 2em;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
  line-height: 18px; }
  .ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    z-index: -1; }
  .ribbon:before {
    left: -31px;
    border: 20px solid #ffcc33;
    border-left-color: transparent; }
  .ribbon:after {
    right: -20px;
    border-left-width: 20px;
    border-right-color: transparent;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ffcc33; }
  .ribbon:hover {
    background: #ebe8df;
    color: #202020; }
    .ribbon:hover:before {
      border-color: #ebe8df;
      border-left-color: transparent; }
    .ribbon:hover:after {
      border-left-color: #ebe8df; }

.short .ribbon {
  margin: 0;
  padding-left: 20px; }
  .short .ribbon:before {
    border: none; }
  .short .ribbon:hover, .short .ribbon:focus {
    background: #ebe8df; }
    .short .ribbon:hover:after, .short .ribbon:focus:after {
      border-left: 1.3em solid #ebe8df; }

.ribbon img {
  display: inline-block;
  position: relative !important;
  left: auto;
  top: -2px !important; }

/*-------------------------------------------
    Global combinations
-------------------------------------------*/

.hide {
  display: none; }

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"] {
  -ms-zoom: 1; }

/*-------------------------------------------
    Header
-------------------------------------------*/
header[role="banner"] {
  /*background: #f16251;*/ 
  background: -moz-linear-gradient(left center , #114477 0%, #1860A8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  }

.home header[role="banner"] {
  padding-top: 26px; }
  .home header[role="banner"] .page {
    margin-bottom: 0; }

.mission {
  margin: 0 15px;
  float: left;
  width: 290px;
  padding-bottom: 1.5em;
  text-align: center; }
  .mission img {
    margin: 0 auto 26px; 
    width: 100px;
    }
  .mission p {
    font-family: 'ratio-n5','ratio','Helvetica Neue',Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 21.96px;
    color: white;
    line-height: 26px;
    background: transparent url(/a/screen/icon-star.png) no-repeat center bottom;
    padding-bottom: 10px; }

/*-------------------------------------------
    Section
-------------------------------------------*/

.content section {
  margin-top: 26px;
  margin-bottom: 52px; }

.content > section header {
  text-align: center;
  margin-bottom: 1.5em;
  border-bottom: 1px dashed #333; }
  .content > section header h2 {
    margin-bottom: 6px; }

.home .content section#work {
  margin-top: -26px;
  padding-top: 3em; }

/*-------------------------------------------
    Work
-------------------------------------------*/
.case-center {
  position: relative;
  clear: both;
  text-align: center;
  margin: 0 0 26px; 
  overflow: hidden; }
.case-center img {
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0; }

.case-center h3 {
    font-size: 13.86px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px; }

.case-center h3:before {
      content: "\2015";
      letter-spacing: -2px;
      padding-right: 5px; }

.case-center h3:after {
      content: "\2015";
      letter-spacing: -2px;
      padding-left: 5px; }

.case-center h4 {
    font-size: 31px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -.025em;
    line-height: 1;
    margin-bottom: 0.25em; }

.case-center p {
    font-size: 18px; }

.case-center h4, .case-center p {
    margin-right: 15px;
    margin-left: 15px; }


/*-------------------------------------------
    #Media Queries
-------------------------------------------*/
@media (min-width: 480px) {
  .page > .row {
    width: auto;
    margin: 0 0; }
    .page > .row:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
      font-size: 0; }

}    
@media (min-width: 756px) {

  .page, .content section {
    width: 756px;
    margin: 0 auto 26px; }

  /*-------------------------------------------
      Header
  -------------------------------------------*/
  .mission {
    margin: 0 15px;
    float: left;
    width: 350px;
    margin-left: 267px;
    position: relative;
    padding-bottom: 0; }
    .mission a.cap {
      position: absolute;
      top: 0;
      left: -268px; }

  /*-------------------------------------------
      NAV
  -------------------------------------------*/
  .home #nav {
    width: 100%; }

  #nav .page:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }

  #nav {
    display: block;
    background: #202020; }
    #nav .page {
      width: 743px;
      margin: 0 auto;
      position: relative; }
      #nav .page:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        font-size: 0; }
      #nav .page li {
        float: left; }
        #nav .page li a {
          border-left: 1px dashed rgba(255, 255, 255, 0.3);
          display: block;
          line-height: 1;
          padding: 15px 0;
          color: #fff;
          font-size: 14.004px;
          font-family: 'ratio-n7','ratio','Helvetica Neue',Arial, sans-serif;
          font-weight: 700;
          font-style: normal;
          text-transform: uppercase;
          letter-spacing: .2em;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          text-align: center;
          width: 106px; }
          #nav .page li a:active {
            background-color: #fff;
            color: #202020; }
        #nav .page li.on a, #nav .page li.transit a {
          color: #f16251; }
      #nav .page .nav-space-left, #nav .page .dbl-brdr, #nav .page .last {
        border-right: 1px dashed rgba(255, 255, 255, 0.3); }
      #nav .page a:hover, #nav .page a:focus {
        color: #f16251; }
      #nav .page .nav-home {
        margin: 0 15px -50px;
        position: relative;
        top: 4px; }
      #nav .page .nav-home a {
        border-left: none;
        width: 68px;
        height: 68px;
        overflow: hidden;
        position: relative;
        padding: 0;
        background: transparent url(/m/content/logo-nav-sprite.png) no-repeat 0 -68px; }
        #nav .page .nav-home a img {
          -webkit-transition: all 0.25s linear;
          -moz-transition: all 0.25s linear;
          -o-transition: all 0.25s linear;
          transition: all 0.25s linear; }
        #nav .page .nav-home a:hover img, #nav .page .nav-home a:focus img {
          opacity: 0; }
        #nav .page .nav-home a:active {
          background-color: transparent; }

  /*-------------------------------------------
      Section
  -------------------------------------------*/
  .content section {
    padding-top: 3em; }

  .home .content section {
    padding-top: 5em;
    margin-top: -3em;
    overflow: hidden; }

  .home .content section#work {
    margin-top: 0; }

  .content > section header {
    margin: 0 15px;
    float: left;
    width: 474px;
    margin-left: 141px;
    margin-right: 141px;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
    text-align: center;
    margin-bottom: 26px;
    padding: 1em 0; }
    .content > section header h2 {
      margin-bottom: 12px; }

  .subhead {
    display: block;
    color: #928781;
    font-size: 21.96px;
    line-height: 31px;
    font-family: 'ratio-n5','ratio','Helvetica Neue',Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0; }
    .subhead a {
      background: #ffcc33;
      padding: 0 5px;
      color: #202020; }
      .subhead a:hover, .subhead a:focus {
        background: #ebe8df; }

  /*-------------------------------------------
      Work
  -------------------------------------------*/
  #work > div {
    display: block; }

  .case1 > img {
    margin: -100px auto;
    width: auto; }
  .case1 .case-copy p {
    text-align: center;
    margin: 0 108px 36px; }

  .case-center {
    margin: 0; }
    .case-right h4, .case-left h4, .case-center h4 {
      font-size: 40px;
      margin-bottom: 20px; }

  .case5 {
    display: block;
    background: #739ed0;
    min-height: 375px;
    margin: 0 0 26px; }
    .case5 .case-copy p {
      text-align: center;
      margin: 0 108px 36px; }
    .case5 .promo-vid {
      margin: 30px 30px 22px; }

  /*-------------------------------------------
      Footer
  -------------------------------------------*/
  footer a {
    float: right; }
    footer a:first-child {
      float: left; }
  footer span.cap {
    display: inline-block;
    position: static;
    vertical-align: top;
    margin-top: -10px; } 
    
}

/*- MEDIA QUERIES
-------------------------------------*/
@media (max-width: 481px) {
}
@media (max-width: 505px) {
}
@media (min-width: 400px) and (max-width: 505px) {
}
@media (max-width: 340px) {
}
@media (min-width: 320px) {
  #nav-mobile p {
    width: 480px; } 
} 
@media (min-width: 756px) {
  .skip-mobile,
  #nav-mobile {
    display: none; }
}
@media (min-width: 978px) {
}
